body {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
#heading {
  text-align: center;
}
.container {
  text-align: center;
}
input {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
ul {
  list-style: none;
}
ol {
  list-style-position: inside;
}
